<div class="iq-event-teaser">
 {# <a href="{{href}}"> #}
    <div class="inner">
      <div class="content-holder">
        <div class="img-holder">
          {% include '@iq_barrio/includes/responsive-image.html.twig' with {
            'image' : image_img,
            'template' : 'image_standard',
            'sizes': {'1200px':'100vw','768px':'50vw','300px':'100vw'},
              'attributes' : {
                title: title,
                alt: title,
              }
          } %}
        </div>
        <div class="event-info">
        <div class="date">{{date}}</div>
            <h3 class="title">{{sub_title}}</h3>
          <div class="address">{{address}}</div>
          <div class="description">{{description}}</div>
        </div>

      </div>
    </div>
  {# </a> #}
</div>
